$base-color: #f54748;
$base-color-dark: #f21718;
$base-color-darker: #cb0b0c;
$color-black: #161211;
$color-white: rgb(226, 226, 226);
$color-gray: rgb(196, 195, 195);
$base-font: 'Josefin Sans', sans-serif;
$font-regular: '400';
$font-medium: '500';
$font-semi-bold: '600';
